---
layout: home
main_image: /uploads/background.jpg
what_if_image: /uploads/what-if.jpg
---
{% assign settings = settings.data.settings %}
<nav id="menu">
    {% include menu.html %}
</nav>

<main id="panel">
  <div class="header color-overlay" {% if page.main_image %} style=" background: url({{ page.main_image }}) no-repeat center center; background-size: cover;"
{% else %}style=" background: url({{settings.main_image}}) no-repeat center center; background-size: cover;" {% endif %}>
<div class="top">
  <a href="#" class="logo"><img src="{{settings.church_logo_image_path}}" alt="" /></a>
  <div class="rightmenu">
  <a href="#visit" class="button">PLAN A VISIT</a>
  <a href="#" class="toggle-button">MENU</a>
  </div><!--/right-menu--> 
  </div><!--/top-->
  <div class="main-heading">
  <h3 class="editable">Academy Street Baptist Church</h3>
  <h1 class="editable">A church home for Randleman families.</h1>
  <a href="#visit" class="button">Plan A Visit</a>
  <ul class="menu">
  {% if site.data.events[0].Event_Title %}
    <li><a href="#"><i class="fa fa-calendar"></i> View Upcoming Events</a></li>{% endif %}
    <li><a href="#pastor"><i class="fa fa-user"></i> Meet Our Pastor</a></li>
    <li><a href="#contact"><i class="fa fa-envelope"></i> Get In Touch</a></li>
  </ul>
  </div><!--/main-heading-->
</div><!--/header-->
<div class="intro">
  <div class="pic" style="background: url({{page.what_if_image}}) no-repeat center center; background-size: cover;">
   </div><!--/pic-->
  <div class="text">
  <h2 class="editable">What if you could find....</h2>
  <div class="find-sections">
  <div class="find-section editable">
    <img src="http://sitesforchurch.s3.amazonaws.com/grace.png" alt="" />
    <h3>GRACE</h3>
    <p>Learn about what Jesus has done for you. He’s paved the way for you to have a meaningful relationship with God and an eternal home in heaven.</p>
  </div><!--/find-section-->
  <div class="find-section editable">
    <img src="http://sitesforchurch.s3.amazonaws.com/purpose.png" alt="" />
    <h3>PURPOSE</h3>
    <p>Live for more than toys and a paycheck. Figure out what God made you. Be a part of something with eternal consequences.</p>
  </div><!--/find-section-->
  <div class="find-section editable"><p><img alt="" src="http://sitesforchurch.s3.amazonaws.com/community.png" /></p><h3>COMMUNITY</h3><p>Don&rsquo;t go it alone. &nbsp;Find friends who share your deepest beliefs and will help and encourage you through life.</p></div><!--/find-section-->
  <div class="find-section editable"><p><img alt="" src="http://sitesforchurch.s3.amazonaws.com/instruction.png" /></p><h3>INSTRUCTION</h3><p>Discover what God&rsquo;s word says. Hear it taught and explained regularly and let it nourish you and grow you in your Christian life.</p></div><!--/find-section-->
  </div><!--/find-sections-->
  </div><!--/text-->
</div><!--/intro-->
{% include map.html %}
<div class="visit">
  <h2 id="visit" class="editable">Plan A Visit</h2>
  <p class="intro-text editable">Visiting a new church can be a scary experience. We want to put you at ease by answering the most common questions people have….</p>
  <div class="row small-up-1 medium-up-2 visit-sections">
   <div class="column column-block">
    <div class="text">
      <h3>What are services like?</h3>
      <p>After a time of fellowship, we start our services with prayer and then sing some congregational hymns.  We take up an offering (visitors aren’t expected to give) and then the pastor or a special speaker reads a portion of scripture and preaches a message.</p>

    </div><!--/text-->
    </div><!--/visit-section-->
   
  <div class="column column-block">
    <div class="text">
      <h3>When do you meet?</h3>
      <h4>Sundays</h4>
<ul>
  <li>Sunday School - 10:00 AM</li>
  <li>Morning Service - 10:30 AM</li>
  <li>Evening Service - 6:00 PM</li>
</ul>
<h4>Wenesdays</h4>
<ul>
  <li>Bible Study &amp; Prayer Meeting - 7:00 PM</li>
</ul>

    </div><!--/text-->
    </div><!--/visit-section-->
   
  <div class="column column-block">
    <div class="text">
      <h3>Is there anything for my kids?</h3>
      <p>We provide the following for children:</p>
      <ul>
        <li>A Sunday school service for elementary aged kids.</li>
        <li>Occasional youth activities for teenagers.</li>
      </ul>

    </div><!--/text-->

    </div><!--/visit-section-->
    <div class="column column-block">
    <div class="text">
      <h3>Am I expected to give?</h3>
      <p>No.  We do take an offering every service, but it is for our members.  We do not expect our guests to give anything.  You’ve given us enough by visiting.</p>
      

    </div><!--/text-->
    </div><!--/visit-section-->
   
  <div class="column column-block">
    <div class="text">
      <h3>What do you believe?</h3>
      <p>We believe what baptist people have always believed including the inspiration and inerrancy of scripture, the trinity of the godhead, the virgin Birth of Christ, salvation by grace through Faith in Christ’s finished work, the premillennial return of Christ, etc.</p>
      <p><a href="#">Click here</a> to view our full statement of faith.</p>

    </div><!--/text-->
    </div><!--/visit-section-->
   
    </div><!--/visit-sections-->
</div><!--/visit-->
{% include photos.html %}
<div class="pastor">
  <h2 id="pastor" class="editable">Meet Our Pastor</h2>
  {% assign pastor = site.leaders | where: "Is_senior_pastor", true %} 

  {% for item in pastor %}
  <img src="{{ item.Thumbnail_path }}" alt="" />
  {{ item.content }}
  <ul class="pastor-contact">
    <li class="email">{{ item.Email }} </li>
    <li class="phone"> {{ item.Phone }} </li>
  </ul>
  {% endfor %}
</div><!--/pastor-->
{% if site.data.events[0].Event_Title %}
<div class="events">
  <h2>Upcoming Events</h2>

  {% for event in site.data.featuredevent %}
  <div class="featured-event">
  <div class="image">
    {% if event.Featured_Image %}
    <img src="{{event.Featured_Image[0].url}}" alt="" />
    {% else %}
    <img src="http://placehold.it/600x337" alt="" />
    {% endif %}
  </div><!--/image-->
    <div class="details">
      <h4><a href="#">{{event.Event_Title}}</a></h4>
      <p class="date"><strong>Date:</strong> {{event.Date | date: "%A, %B %-d"}}</p>
      <p class="time"><strong>Time:</strong> {{event.Date | date: "%I:%M %p"}}</p>
      <p class="description">
        {{event.Event_Description}}
      </p>
      <a href="#" class="read-more">Read More</a>
    </div><!--/details-->
  </div><!--/featured-event-->
  {% endfor %}
  {% for event in site.data.events %}
  <div class="single-event">
      <div class="date-display">
        <p class="number">{{event.Date | date: "%d"}}</p>
        <p class="month">{{event.Date | date: "%b"}}</p>
      </div><!--/date-display-->
      <div class="event-info">
        <h4><a href="#">{{event.Event_Title}}</a></h4>
        <p class="date"><strong>Date:</strong> {{event.Date | date: "%A, %B %-d"}}</p>
        <p class="time"><strong>Time:</strong> {{event.Date | date: "%I:%M %p"}}</p>
      </div><!--/event-info-->
  </div><!--/single-event-->
  {% endfor %}
</div><!--/events-->
{% endif %}



</main>
{% include footer.html %}